@font-face {
  font-family: "URW Classico";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("URWClassico-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "URW Classico";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("URWClassico-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "URW Classico";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("URWClassico-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "URW Classico";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("URWClassico-BoldItalic.woff2") format("woff2");
}
